html,
body{
  margin: 0;
  height: 100%;
 width: 100%;
 padding: 0;
}


.hidden {
  display: none;
}

.shift-map-container {
  width: 100% ;
}

#aniket-trial-map {
  padding-left: 440px;
  height: 100%;
  margin: 0;
}


.calcite-blocks {
  margin-block: 0;
}
